* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

:root {
	--color--text: #111010;
	--fonts--DM: 'DM Sans';
	--color--text--white: #ffffff;
}

.nav {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
	padding: 1.75rem 2.5rem 1.625rem 2.5rem;
}
.navBar {
	display: flex;
}

.navBar li {
	margin: 0 3.25rem;
	font-family: var(--fonts--DM);
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5rem;
	text-transform: uppercase;
}

.navBar a {
	color: var(--color--text);
}
.searchBar {
	display: flex;
	align-items: center;
}
.searchBar span {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5rem;
	text-transform: uppercase;
	color: var(--color--text);
}
.searchBar img {
	margin: 0 0.5rem 0 2rem;
}
/* HEADER */

.header {
	max-width: 90rem;
	width: calc(100% - 4rem);
	height: 37rem;
	border-radius: 1.25rem;
	margin: 0.625rem auto 0 auto;
	background: url('./statik/png/header.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 3.3125rem 0 0 4.0625rem;
	border-bottom: 1px solid black;
}
.header h2 {
	font-family: var(--fonts--DM);
	font-style: normal;
	font-weight: 400;
	font-size: 6rem;
	line-height: 110%;
	text-transform: uppercase;
	color: var(--color--text--white);
	width: 40.625rem;
}

.header button {
	padding: 1.25rem 2.0625rem;
	border-radius: 1.875rem;
	font-family: var(--fonts--DM);
	font-style: normal;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	color: var(--color--text);
	border: 1px solid black;
	background: #ffdb5b;
	margin-top: 12.2131rem;
}
.header__block {
	width: 8rem;
	height: 8rem;
	background: #f1ebe4;
	border-radius: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 85%;
}

/* MAIN */
.bestsellers {
	padding: 5.0369rem 0;
	width: 100%;
	background: #f1ebe4;
	border-top: 1px solid var(--color--text);
	border-bottom: 1px solid var(--color--text);
}
.bestsellers__wrapper {
	width: calc(100% - 4rem);
	max-width: 90rem;
	margin: 0 auto;
}
.bestsellers__title {
	font-family: var(--fonts--DM);
	font-style: normal;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 150%;
	text-decoration-line: underline;
	text-transform: uppercase;
	text-align: end;
	color: var(--color--text);
	margin-top: 1.9756rem;
}
.bestsellers_container {
	display: flex;
	justify-content: space-between;
}
.bestsellers__item {
	font-family: var(--fonts--DM);
	font-style: normal;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 140%;
	text-align: center;
	text-transform: uppercase;
	color: var(--color--text);
}
.bestsellers__item img {
	margin-bottom: 1.1875rem;
}
.one {
	font-family: var(--fonts--DM);
	font-style: normal;
	font-weight: 400;
	font-size: 3rem;
	line-height: 110%;
	text-transform: uppercase;
	color: var(--color--text);
	margin-right: 1.375rem;
}
.line {
	color: rgba(17, 16, 16, 0.7);
	text-decoration-line: line-through;
}
.three {
	margin: 0 2rem;
	position: relative;
}
.bestsellers__position {
	top: 0;
	left: 0;
	position: absolute;
	width: 6rem;
	height: 6rem;
	background: rgba(255, 155, 61, 1);
	border: 1px solid black;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* NEW */

.new {
	overflow: hidden;
	max-width: 90rem;
	width: 100%;
	margin: 10rem auto 0 auto;
	/*  */
	font-family: var(--fonts--DM);
	font-style: normal;
	font-weight: 400;
	font-size: 7.9375rem;
	line-height: 101%;
	text-transform: uppercase;
	color: var(--color--text);
}
.new div {
	width: 100%;
	display: flex;
}
.new div:first-child {
	margin-left: -10.625rem;
}
.new div:last-child {
	margin-left: -6.25rem;
}
.new img {
	margin: 0 1.875rem;
}
